
@import '../../common.scss';

app-docs-start:host {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  justify-content: center;

  height: 100%;
  padding: 50px 70px;
  box-sizing: border-box;
  margin: 0;
}

md-card {
  flex-grow: 0;
  width: 260px;
  margin: 20px;
  border: 1px solid #ffffff;
  transition: border 500ms;

  cursor: pointer;

  &:hover {
    border-color: mat-color($ngx-form, 500);
  }

  &.disabled {
    @extend .disabled;
  }

  md-card-title {
    font-size: 20px;
  }
}

/deep/ .mat-card {
  .mat-card-header-text {
    margin: 0px;
  }
}
