
@import 'theme.scss';
@import 'theming.scss';

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

@include mat-core();

$primary: mat-palette($ngx-form, 500);
$accent: mat-palette($mat-pink, 600, A100, A400);
$warn: mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
