
ngx-ui-navigation {
  margin: 0px;

  h3 {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    background: rgba(0,0,0,.32);
    color: #fff;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: list-item;
      border-bottom: 1px solid rgba(0,0,0,.06);
    }
  }

  a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
    color: inherit;

    &:hover {
      @extend .hover-link;
    }

    &.active-link {
      @extend .active-link;
    }

    &.disabled {
      @extend .disabled;
    }
  }
}
