$ngx-form: (
    50 : #e9f1ed,
    100 : #c8dcd1,
    200 : #a3c4b3,
    300 : #7eac94,
    400 : #629b7d,
    500 : #468966,
    600 : #3f815e,
    700 : #377653,
    800 : #2f6c49,
    900 : #205938,
    A100 : #9bffc2,
    A200 : #68ffa3,
    A400 : #35ff83,
    A700 : #1bff74,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
